<!doctype html>
<html>

<head>

    <title>Welcome to Helpline System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="header_elements">
        <a class="header-home-btn" href="{{ url_for('index') }}">Helpine Centre</a>
        {% if current_user.is_anonymous %}
        <a></a>
        {% else %}
        <p class="header-cur-user">Hi, {{ current_user.name }}!</p>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}


    </div>

    {% block content %}{% endblock %}
</body>

</html>