{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash-message">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<p class="centre-this">Login to continue. If you don't have an account please <a
    href="{{ url_for('register') }}">register</a>.</p>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.email.label }}<br>
    {{ form.email(size=32) }}
  </p>
  <p>
    {{ form.password.label }}<br>
    {{ form.password(size=32) }}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}